@media (max-width: 1023px) {
	.doublecont, .cont {
		display: unset;
	}

	.content-65, .content-25, .vizitka {
		width: unset;
	}

	.vizitka {
		overflow: hidden;
	}

	.vizitka img {
		padding-right: 10px;
		margin: 0;
		float: left;
	}

	.vizitka b {
		text-align: left;
	}
}